.item{
    color:white;
    padding: 10px;
    background-color: teal;
}
.userIcon {
    width: 100px;
}

.button {
    margin: 1%;

}

.selectedPage {
    font-size: 18px;
    font-weight: bold;
    color:red;
    background-color: rgb(123, 13, 167);
}